  <div class="container mt-5">
      <div class="row">
          <div class="col-4" *ngFor="let veterinary of veterinaries">
              <!--profile card-->
              <div class="profile-card card rounded-lg shadow p-4 p-xl-5 mb-4 text-center">
                  <div class="banner"></div>

                  <img src='{{veterinary.img}}' alt="pdp" style="height: 150px; width: auto;"
                      class="img-circle mb-3 mx-auto d-flex">
                  <h3 class="mb-4"><strong>{{veterinary.name}} </strong></h3>
                  <div class="text-left mb-4">
                    <div class="mb-2">
                      <img src="../../assets/loc.png" height="20px">
                      <p style="display: inline;" class="mb-2">{{veterinary.address}} {{veterinary.country}}</p>
                    </div>
                    <div class="mb-2">
                      <img src="../../assets/call.png" height="20px">
                      <p style="display: inline;" class="mb-2">{{veterinary.phone}}</p>
                    </div>
                    <a mat-raised-button color="primary" routerLink="login">Contact veterinary</a>
                  </div>
              </div>
          </div>




      </div>
  </div>
