<div class='grass'></div>
<div class='social-links'>
  <a href='https://facebook.com/BorrowMyDoggy' target='_blank'>
    <i class="fab fa-facebook"></i>
  </a>
  <a href='https://twitter.com/BorrowMyDoggy' target='_blank'>
    <i class="fab fa-twitter"></i>
  </a>
  <a href='https://instagram.com/BorrowMyDoggy' target='_blank'>
    <i class="fab fa-instagram"></i>
  </a>
  <a href='https://youtube.com/BorrowMyDoggy' target='_blank'>
    <i class="fab fa-youtube"></i>
  </a>
  <a href='https://pinterest.com/BorrowMyDoggy' target='_blank'>
    <i class="fab fa-pinterest"></i>
  </a>
  <a href='https://www.tiktok.com/@borrowmydoggy' target='_blank'>
    <i class="fab fa-tiktok"></i>
  </a>
</div>
<footer>
  <div class='footer'>
    <div class='footer__columns'>
      <div class='footer__column footer__column_about'>
        <h6>About</h6>
        <ul>
          <li><a href="/about">About Us</a></li>
          <li><a href="https://www.borrowmydoggy-store.com/">Shop</a></li>
          <li><a href="/gift-vouchers">Gift Vouchers</a></li>
          <li><a href="/press-and-media">Press &amp; Media</a></li>


          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/mobile-app">Mobile App</a></li>

          <li><a href="/cookie-policy">Cookie Policy</a></li>
        </ul>
      </div>
      <div class='footer__column footer__column_learn-more'>
        <h6>Learn more</h6>
        <ul>
          <li><a href="/how-it-works">How it Works</a></li>

          <li><a href="/blog">Blog</a></li>

          <li><a href="/become-a-dog-walker-or-dog-sitter">Become a dog sitter</a></li>

          <li><a href="/dog-sitting">Dog sitting</a></li>
          <li><a href="/dog-walking">Dog walking</a></li>
          <li><a href="/dogs-near-me">Top locations</a></li>
        </ul>
      </div>
      <div class='footer__column footer__column_need-help'>
        <h6>Need Help?</h6>
        <ul>
          <li><a href="https://help.borrowmydoggy.com/hc/en-gb">Help &amp; FAQs</a></li>
          <li><a href="https://help.borrowmydoggy.com/hc/en-gb/requests/new">Contact Us</a></li>
          <li>
            <strong>Call us:</strong>
            01010101010
          </li>
          <li>
            <strong>Hours:</strong>
            Mon to Fri 9am - 5pm
          </li>
          <li>
            <strong>Address:</strong>
            <br>
            Technopole el ghazella
            <br>
            Tunisie
            <br>
            2083
          </li>
        </ul>
      </div>
    </div>
    <div class='footer__copyright-separator'></div>
    <div class='footer__copyright'>
      <p>
        &copy; Pets home 2023
        <br>
        This site uses cookies
      </p>
    </div>
  </div>
